/**efeitos de scroll*/
html, body {
    overflow-x: hidden;
}

.hidden-left{
    opacity: 0;
    filter: blur(2px);
    transform: translateX(-20%);
    transition: all 1s;
}

.hidden-right{
    opacity: 0;
    filter: blur(2px);
    transform: translateX(20%);
    transition: all 1s;
}

.hidden-top{
    opacity: 0;
    filter: blur(1px);
    transform: translateY(20%);
    transition: all 1s;
}

.show{
    opacity: 1;
    filter: blur(0);
    transition: all 1s;
    transform: translateX(0);
    transform: translateY(0);

}


/**Header*/

.header-links{
    color: rgb(228, 228, 228);
}

.header-links:hover{
    color: white;
    text-shadow: 0.4px 0.4px 0.4px  rgb(255, 255, 255);
    transition: 0.5s;
}

.navbar-toggler-icon{
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke=' rgba(255, 255, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/**gerais*/

.title-sections{
    font-size: 26px;
    font-weight: bold;
    text-align: center;
    margin-top: 90px;
    margin-bottom: 40px;
    text-decoration: underline;
    text-decoration-color: #00A759; 
    text-underline-offset: 2px;
    text-underline-position: under;
}

.title-black{
    color: yellow;
    font-size: 26px;
    text-decoration: underline;
    text-decoration-color: yellow; 
    text-underline-offset: 2px;
    text-underline-position: under;
    margin-bottom: 20px;
}

.section-black{
    color: white;
}


/**Sessão serviços*/
.btn-sessao1{
    border: 1px solid #00A759;
    margin-top: 20px;
}

.btn-sessao1:hover{
    background-color: #00A759;
    color: white;
}

.card-title{
    font-size: 18px;
}

.card{
    box-shadow: 0px 17px 38px 15px #c9c9c944;
    border: none;
    border-radius: 12px;
}

.card:hover{
    border: 0.8px solid #00a759c0;
    transition: 0.21s;
}

/**Diferenciais*/
.diferenciais{
    font-weight: 500;
}

/**Footer*/
.footer h1{
    color: yellow !important;
    font-size: 20px;
    text-decoration: underline;
    text-decoration-color: yellow; 
    text-underline-offset: 2px;
    text-underline-position: under;
    margin-bottom: 20px;
}

.footer ul li{
    list-style: none;
}

.footer ul li i{
    color: white !important;
    text-decoration: none;
}

.footer ul li a{
    color: white !important;
    text-decoration: none;
    line-height: 30px;
}

.footer ul li a:hover{
    text-decoration: underline;
    
}

.map{
    justify-content: center;
    display: flex;
}

.map iframe{
    border-radius: 12px;
}

/*Parceiros*/
@keyframes slides {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
  
  .logos {
    overflow: hidden;
    white-space: nowrap;
    position: relative;
  }
  
  .logos:before, .logos:after {
    position: absolute;
    top: 0;
    content: '';
    width: 200px;
    height: 100%;
    z-index: 2;
  }
  
  .logos:before {
    left: 0;
    background: linear-gradient(to left, rgba(255,255,255,0), #F9F8F8);
  }
  
  .logos:after {
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), #F9F8F8);
  }
  
  .logo_items {
    display: inline-block;
    animation: 130s slides infinite linear;

  }
  
  .logos:hover .logo_items {
    animation-play-state: paused;
  }
  
  .logo_items img{
    height: 100px;
    margin-right: 50px;
    width: 200px;
  }